@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@300&family=Merriweather:ital,wght@1,300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.background_gradient_main {
   background: repeating-linear-gradient( 45deg, #240046, #240046 13.5px, #10002B 13.5px, #10002B 67.5px );
}

.background_gradient_sidebar {
    background: radial-gradient(circle, transparent 20%, #240046 20%, #240046 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #240046 20%, #240046 80%, transparent 80%, transparent) 22.5px 22.5px, linear-gradient(#3C096C 1.8px, transparent 1.8px) 0 -0.9px, linear-gradient(90deg, #3C096C 1.8px, #240046 1.8px) -0.9px 0;
    background-size: 45px 45px, 45px 45px, 22.5px 22.5px, 22.5px 22.5px;
}